// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap;
@import '~bootstrap/scss/bootstrap';
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "newBlog.css";
$swal2-confirm-button-background-color : #34dcbd;
@import "~sweetalert2/src/sweetalert2";

@import "feather-icons-web/feather.css";


